name: Release

on:
  push:
    tags:
      - "v[0-9]*.[0-9]*.[0-9]*"

permissions:
  contents: read

jobs:
  goreleaser:
    runs-on: ubuntu-latest
    container: fedora:42
    timeout-minutes: 30
    permissions:
      contents: write
    steps:
      - name: Install dependencies
        run: |
          dnf install -y git gcc pkgconf tar gzip \
            gtk4-devel libadwaita-devel libsecret-devel gobject-introspection-devel

      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          fetch-depth: 0

      - name: Fix git permissions
        run: git config --global --add safe.directory $GITHUB_WORKSPACE

      - name: Setup Go
        uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6.2.0
        with:
          go-version: stable

      - name: Run GoReleaser
        uses: goreleaser/goreleaser-action@e435ccd777264be153ace6237001ef4d979d3a7a # v6.4.0
        with:
          version: "~> v2"
          args: release --clean
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  update-nixpkgs:
    needs: goreleaser
    runs-on: ubuntu-latest
    timeout-minutes: 15
    steps:
      - name: Install Nix
        uses: cachix/install-nix-action@4e002c8ec80594ecd40e759629461e26c8abed15 # v31.9.0

      - name: Update nixpkgs
        uses: shini4i/nixpkgs-updater@v1
        with:
          package-name: openfortivpn-gui
          version: ${{ github.ref_name }}
          target-repo: shini4i/nixpkgs
          github-token: ${{ secrets.NIXPKGS_TOKEN }}

  cachix:
    needs: update-nixpkgs
    runs-on: ubuntu-latest
    timeout-minutes: 30
    steps:
      - name: Install Nix
        uses: cachix/install-nix-action@4e002c8ec80594ecd40e759629461e26c8abed15 # v31.9.0
        with:
          extra_nix_config: |
            experimental-features = nix-command flakes

      - name: Setup Cachix
        uses: cachix/cachix-action@0fc020193b5a1fa3ac4575aa3a7d3aa6a35435ad # v16
        with:
          name: shini4i
          authToken: ${{ secrets.CACHIX_AUTH_TOKEN }}

      - name: Build and push to Cachix
        run: nix build github:shini4i/nixpkgs/chore/openfortivpn-gui#openfortivpn-gui
